{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="content">{{ .Content }}</div>
<div class="team-section">
  {{ range site.Data.members }}
    <div class="team-member">
      <div class="member-photo">
        <img src="{{ .image }}" alt="{{ .name }}" />
      </div>
      <div class="member-info">
        <h2 class="member-name">{{ .name }}{{ if .role }}&nbsp;&nbsp;<span class="member-title">{{ .role }}</span>{{ end }}</h2>
        <div class="member-bio">{{ .bio | markdownify }}</div>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}
